CLIENT_PORT=4173
DB_USER=postgres
DB_PASSWORD=postgres # Change this to a secure password
DB_HOST=webontour-db
DB_NAME=webontour
DB_PORT=5432
JWT_SECRET=123 # Change this to a secure JWT secret
MASTER_SIGNUP_KEY=123 # Change this to a secure master signup key
SERVER_PORT=3000
WEBHOOK_SECRET=123 # Change this to a secure webhook secret
DOCKER_SOCKET_PATH=/var/run/docker.sock # Override with your actual docker socket location if different
